<div class="container mt-4">
  <h1 class="mb-4">{{title}}</h1>

  <div class="row" id="products-container">
    {{#each products}}
      <div class="col-md-4 mb-4" id="product-{{id}}">
        <div class="card h-100 shadow-sm">
          <img
            src="{{this.thumbnails.[0]}}"
            class="card-img-top"
            alt="{{this.title}}"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">$ {{this.price}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>